.App--privateFacade {
  background: #000000;
  color: #ffffff;

  .App-drawer,
  .App-navigation {
    display: none;
  }

  .PrivateFacade-AuthView {

    .Modal {
      border-radius: 0;
    }

    .Modal-header {
      display: none;
    }

    .Modal-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    .Modal-body,
    .Modal-footer {
      color: #ffffff;

      a {
        color: #ffffff;
      }
    }

    .Form-group:last-child {
      margin-top: 36px;
    }

    .FormControl {
      background: #000000;
      border-bottom: 2px solid #FFFFFF;
      text-align: left;
      padding-left: 0;
    }

    .Button--primary {
      border: 2px solid #ffffff;
    }

    @media (min-width: 768px) {
      .Modal-content {
        border-radius: 0;
      }
    }

  }

  .PrivateFacade .Modal-body {
    background: #000000;
  }



}

.App.App--privateFacade {
  padding-top: 0;
}

@media (max-width: 767.98px) {

  .PrivateFacade-AuthView svg, .PrivateFacade-AuthView img {
    max-height: none;
    width: 200px;
    margin: 36px auto;
  }
}